.App {
  text-align: center;
}

.App-header {
  background-color: rgb(35, 35, 104);
  min-height: 6.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-top: 1vh;
}

.App-logo {
  width: 800px;
  max-width: 85vw;
  margin-top: 10px;
  margin-bottom: 15px;
}

body {
  background-image: url('./multimedia/vacas_catie.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 340px;
  color:rgb(29, 29, 53);
}

.seccion {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  border: solid 2px rgb(35, 35, 104);
  background-color: rgba(255,255,255,0.8);
}

.texto {
  text-align: left;
  align-self: center;
  max-width: 600px;
  margin: auto;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.diapo {
  max-width: 90vw;
  align-self: center;
}

.generalidades {
  max-width: 320px;
  align-self: center;
  text-align: left;
  border: 3px solid red;
  border-radius: 10px;
  padding-right: 15px;
  background-color: rgba(240, 217, 217, 0.75);
}

.videos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255,255,255,0.5);
  max-width: 700px;
  align-self: center;
  margin: auto;
}

.video {
  margin: 5px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255,255,255,0.5);
}

.logo {
  max-width: 140px;
  margin: 5px;
}

