.App {
  text-align: center;
}

.App-header {
  background-color: rgb(35, 35, 104);
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-top: 1vh;
}

.App-logo {
  max-width: 85vw;
}

body {
  background-image: url('./multimedia/vacas_catie.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 340px;
  color:rgb(29, 29, 53);
}

.seccion {
  margin: 10px;
  padding: 5px;
  border: solid 2px rgb(35, 35, 104);
  background-color: rgba(255,255,255,0.75);
}